.menu {
    padding: 25px 20px;

    background-image: url(../../images/main-menu-bg-mobile.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-size: 100% 100%;

    @media screen and (min-device-pixel-ration: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../../images/main-menu-bg-mobile@2x.jpg);
    }
}