.hotbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 20px;

    width: 100%;
    height: 40px;

    background-color: #EEAA21;

    &__box {
        display: flex;
        align-items: center;
    }

    // icon

    &__btn {
        width: 30px;
        height: 20px;

        padding: 0;
        margin-right: 1em;

        background-color: transparent;
        border: none;
    }

    &__icon {
        width: 100%;
        height: 100%;
    }

    // text

    &__address {
        font-family: Inter;
        font-size: 16px;
        font-weight: 800;

        color: $secondly-text-color;
    }

    &__tel {
        font-family: Jost;
        font-size: 14px;
        font-weight: 500;

        color: $secondly-text-color;
    }

    // desktop

    &__btn-desktop,
    &__icon-desktop,
    &__address-desktop,
    &__tel-desktop {
        display: none;
    }
}