.map {
    @media screen and (min-width: $desktop) {
        padding: 135px 0 258px;

        background-image: url("images/map-bg-desktop.jpg");

        @media screen and (min-device-pixel-ration: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(images/map-bg-desktop@2x.jpg);
        }
    }
}