.nav {
    @media screen and (min-width: $desktop) {
        &__btn {
            width: 110px;
            height: 110px;
        }

        &__close {
            width: 110px;
            height: 110px;
        }

    }
}