.map {
    padding-top: 45px;
    padding-bottom: 85px;

    background-image: url(../../../images/map-bg-mobile.jpg);

    background-size: 100% 100%;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ration: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../../../images/map-bg-mobile@2x.jpg);
    }
}